@page "/"
@inject HttpClient Http

@if (categories.Count() > 0)
{
    //TODO: List categories
            <span>list...</span>
}
else
{
            <p>You need to add a few categories before start using the app.</p>
            <a href="Categories/Manage" class="btn btn-info">Add Categories</a>
}

@code {
    List<CategoryDTO> categories = new List<CategoryDTO>();

    protected async override Task OnInitializedAsync()
    {
        var categories = await Http.GetFromJsonAsync<List<CategoryDTO>>("/api/Categories");
    }    
}
